RAG 資料/n8n/rag_knowledge.json
[{"updatedAt":"2026-05-24T02:27:02.000Z","createdAt":"2026-03-12T09:43:15.708Z","id":"R9Ua9YG0TdMyrBOA","name":"Line-AI-DB","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"line","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[672,-176],"id":"3cb4e8f4-deab-4db3-81ea-325cd0cc77ef","name":"Webhook","webhookId":"ef34d42c-493d-4d7b-bada-874c2857304c"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"replyToken\":\"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\":\"餐點：{{ $('Webhook').item.json.body.events[0].message.text }}\"\n        },\n        {\n            \"type\":\"text\",\n            \"text\":\"食材：{{ $json.output.materials }}\"\n        },\n        {\n            \"type\":\"text\",\n            \"text\":\"料理步驟：{{ $json.output.steps }}\"\n        },\n        {\n            \"type\":\"text\",\n            \"text\":\"預算：{{ $json.output.budget }}\"\n        },\n        {\n          \"type\": \"sticker\",\n          \"packageId\": \"11539\",\n          \"stickerId\": \"52114116\"\n        }\n    ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1360,-176],"id":"f7e9bafa-b7e6-4544-bb44-dc9c9dc762fa","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=請分析{{ $json.body.events[0].message.text }}，告訴我需要的食材(materials)及料理步驟(steps)，請根據食材去資料庫查價格，只查主要食材就好，不包括調味料，再根據食材需要數量對價格進行比例計算，告訴我食材預算(budget)，禁止使用\\n跳行符號。","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[944,-176],"id":"163c5d77-9688-4918-a2fb-d1d73d82af8a","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[832,32],"id":"aab57b48-36c5-4c62-ae4b-362d2cd4c2cc","name":"OpenAI Chat Model"},{"parameters":{"jsonSchemaExample":"{\n\t\"materials\": \"食材\",\n\t\"steps\": \"料理步驟\",\n    \"budget\":\"預算\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1200,32],"id":"7e01954d-9bb5-4933-ab2f-a8c49cdf33e0","name":"Structured Output Parser"},{"parameters":{"descriptionType":"manual","toolDescription":"輸入食材名稱，如：番茄，來查詢食材價格，不要輸入SQL命令。","operation":"get","tableId":"market","filters":{"conditions":[{"keyName":"material","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1040,32],"id":"fb926a01-f474-4e71-a80b-aeddef1d3b76","name":"Get a row in Supabase"},{"parameters":{"content":"## 連接LINE","height":176},"type":"n8n-nodes-base.stickyNote","position":[592,-224],"typeVersion":1,"id":"19be8663-2475-4d71-99a6-0bdfbf970e36","name":"Sticky Note"},{"parameters":{"content":"## 送出訊息","height":208},"type":"n8n-nodes-base.stickyNote","position":[1280,-224],"typeVersion":1,"id":"21e17f0f-219b-458d-b597-0c96fc8c087e","name":"Sticky Note1"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n## 連接資料庫","height":208,"width":150},"type":"n8n-nodes-base.stickyNote","position":[1008,16],"typeVersion":1,"id":"3eff1d06-dd73-47fa-8c0e-ca9e925687b0","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Get a row in Supabase":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2cb879c7-5f12-4158-af41-6ebd605f2878","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-12T09:43:15.713Z","createdAt":"2026-03-12T09:43:15.713Z","role":"workflow:owner","workflowId":"R9Ua9YG0TdMyrBOA","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-11T17:24:41.000Z","createdAt":"2026-05-11T17:18:09.862Z","id":"1KjZHGNg3U3un6Pb","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-32],"id":"6e2a1058-41df-4667-aba0-11062835197e","name":"When clicking ‘Execute workflow’"},{"parameters":{"tableId":"userprofile","fieldsUi":{"fieldValues":[{"fieldId":"line_name","fieldValue":"kathy"},{"fieldId":"user_id","fieldValue":"2"},{"fieldId":"avatar","fieldValue":"123"},{"fieldId":"email","fieldValue":"1"},{"fieldId":"password","fieldValue":"123"},{"fieldId":"birthday","fieldValue":"2005/11/24"},{"fieldId":"create_time","fieldValue":"now()"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,-32],"id":"0eb1c574-0379-4001-b13f-9249c563a39b","name":"Create a row","credentials":{"supabaseApi":{"id":"hMCNb6eZNw9QmRMJ","name":"Supabase account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create a row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1bf56bd-8ff5-40b7-94d6-8989dd032674","activeVersionId":null,"versionCounter":33,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-11T17:18:09.865Z","createdAt":"2026-05-11T17:18:09.865Z","role":"workflow:owner","workflowId":"1KjZHGNg3U3un6Pb","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T02:27:00.000Z","createdAt":"2026-05-12T06:56:08.896Z","id":"7lNhq1wN02ouCz9r","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,-32],"id":"a2647085-9b2b-406e-aa51-3117d188b4ad","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"userprofile"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-32,-32],"id":"2f38b2c2-8d07-4635-aa7a-c2b2f6021010","name":"Get many rows","credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"503a511a-56de-4606-9192-2b85b21a49f0","activeVersionId":null,"versionCounter":11,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-12T06:56:08.904Z","createdAt":"2026-05-12T06:56:08.904Z","role":"workflow:owner","workflowId":"7lNhq1wN02ouCz9r","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T02:26:58.000Z","createdAt":"2026-05-20T05:39:26.910Z","id":"2Rx8UKKWzTZtDQck","name":"北商校規寫入向量資料庫","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[848,-144],"id":"219ae8b9-c28e-42e2-90e3-3ad899ebc4e5","name":"When clicking 'Execute workflow'"},{"parameters":{"assignments":{"assignments":[{"id":"data-source","name":"dataSource","value":"rag_data","type":"string"},{"id":"collection-name","name":"collectionName","value":"mama_handbook","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,-144],"id":"5268d55c-2afd-4300-86cc-d390a4177a96","name":"Set QA Configuration"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1248,-144],"id":"02058978-8959-4c28-b496-06a977459a12","name":"Load Knowledge Documents"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1456,-144],"id":"305e6af7-d9aa-4a36-a044-bf4dda4ce9b9","name":"OpenAI Embeddings"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1648,-144],"id":"ba3463f5-f1d5-4cee-843c-22e5cf3a77bb","name":"Write to Supabase Vector Store","credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,-144],"id":"bfcfb48d-9971-45d4-9340-ca5a95efacee","name":"QA Success Response"}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Set QA Configuration","type":"main","index":0}]]},"Write to Supabase Vector Store":{"main":[[{"node":"QA Success Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"793eec1d-2dd2-4090-874d-3d95c2a12130","activeVersionId":null,"versionCounter":8,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-20T05:39:26.925Z","createdAt":"2026-05-20T05:39:26.925Z","role":"workflow:owner","workflowId":"2Rx8UKKWzTZtDQck","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T02:26:56.000Z","createdAt":"2026-05-20T07:06:16.742Z","id":"5VpDnlYwUlVZo1cH","name":"知識問答","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5da46010-5862-452f-91e3-373f4d20c35e","activeVersionId":null,"versionCounter":60,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-20T07:06:16.750Z","createdAt":"2026-05-20T07:06:16.750Z","role":"workflow:owner","workflowId":"5VpDnlYwUlVZo1cH","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T02:26:54.000Z","createdAt":"2026-05-20T08:32:28.806Z","id":"6uS8cJUUtXCPIX4k","name":"懷孕知識RAG","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"django-rag-chat","options":{}},"id":"bc5d729e-8579-46f6-b6e7-6cfb3a3b76ae","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[272,368],"webhookId":"django-rag-chat"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"0c0d6fbc-3659-4af9-81b1-23a4ffbb3887","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[464,592],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{"tableName":"docs_vectors","options":{}},"id":"88820d30-1b9e-44a9-b874-a4090fcf4590","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[800,560],"credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"3117bd1e-4371-41a9-b041-70953e51d00b","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[816,736],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{},"id":"f066d4b8-8321-49d2-92d1-8dfedc470d79","name":"System Message","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[576,592]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[496,368],"id":"583bd83a-a8f6-4f00-8baf-da361621f109","name":"AI Agent1"}],"connections":{"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"System Message":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29fde344-c5e1-462a-b1bb-9ad72893f7d4","activeVersionId":null,"versionCounter":54,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-20T08:32:28.812Z","createdAt":"2026-05-20T08:32:28.812Z","role":"workflow:owner","workflowId":"6uS8cJUUtXCPIX4k","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T06:43:47.000Z","createdAt":"2026-05-24T01:54:18.491Z","id":"0NgduPJseY84Pnwo","name":"懷孕知識RAG","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"django-rag-chat","responseMode":"responseNode","options":{}},"id":"944d924c-ed4d-4e07-92bb-f296b3db4c7d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-96,-48],"webhookId":"django-rag-chat"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"b3c71da1-87f3-4cca-8b2c-b2a10e503394","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[128,-160],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"pregnancy_knowledge_base","toolDescription":"當需要查詢懷孕知識、孕期注意事項、營養補充時，請使用此工具檢索資料庫。","tableName":"docs_vectors","options":{}},"id":"89ceeaea-d44f-4d38-9005-4256fdc65b5e","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[336,16],"credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"4287c043-3785-4961-b582-19acfb1fd76c","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[512,192],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{},"id":"0c87b022-3232-48f3-a6ed-80524f34695b","name":"System Message","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[272,-160]},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[528,-352],"id":"abc1aae0-9db7-4e6b-a452-558287440f34","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"當你使用知識庫工具檢索到相關資訊後，請立即統整這些資訊並給出最終回覆，絕對不要重複呼叫工具。如果工具回傳沒有相關資料，請直接告訴使用者『目前知識庫沒有相關資訊』，不要反覆嘗試搜尋。stant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[144,-368],"id":"2325d3d5-ba53-4313-81e3-5952a4f0dba9","name":"AI Agent"}],"connections":{"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"System Message":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[]],"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00681d97-dbe8-4b16-9179-1f4367672ead","activeVersionId":null,"versionCounter":165,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-24T01:54:18.503Z","createdAt":"2026-05-24T01:54:18.503Z","role":"workflow:owner","workflowId":"0NgduPJseY84Pnwo","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-24T02:26:52.000Z","createdAt":"2026-05-24T01:58:11.713Z","id":"gyEp5mr4bIMYPQrY","name":"Demo: RAG in n8n","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-128,0],"id":"f7a656ec-83fc-4ed2-a089-57a9def662b7","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[528,480],"id":"6ea78663-cf2f-4f2d-8e68-43047c2afd87","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"14","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[320,160],"id":"94aecac0-03f9-4915-932b-d14a2576607b","name":"Default Data Loader"},{"parameters":{"content":"### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).","height":300,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-656,-64],"typeVersion":1,"id":"0d07742b-0b36-4c2e-990c-266cbe6e2d4d","name":"Sticky Note"},{"parameters":{"content":"### 📚 Load Data Flow","height":460,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-160,-80],"typeVersion":1,"id":"d19d04f3-5231-4e47-bed7-9f24a4a8f582","name":"Sticky Note1"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[64,0],"id":"bf50a11f-ca6a-4e04-a6d2-42fee272b260","name":"Insert Data to Store"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"mode":"list","value":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[944,208],"id":"09c0db62-5413-440e-8c13-fb6bb66d9b6a","name":"Query Data Tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[944,-16],"id":"579aed76-9644-42d1-ac13-7369059ff1c2","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[720,-16],"id":"9c30de61-935a-471f-ae88-ec5f67beeefc","name":"When chat message received","webhookId":"4091fa09-fb9a-4039-9411-7104d213f601"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,208],"id":"b5aa8942-9cd5-4c2f-bd77-7a0ceb921bac","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"14","name":"OpenAi account"}}},{"parameters":{"content":"### 🐕 2. Retriever Flow","height":460,"width":680,"color":7},"type":"n8n-nodes-base.stickyNote","position":[608,-64],"typeVersion":1,"id":"28bc73a1-e64a-47bf-ac1c-ffe644894ea5","name":"Sticky Note2"},{"parameters":{"content":"### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n","height":240,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[672,448],"typeVersion":1,"id":"0cf8c647-418c-4d1a-8952-766145afca72","name":"Sticky Note3"}],"connections":{"Upload your file here":{"main":[[{"node":"Insert Data to Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Data to Store","type":"ai_document","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"rag-starter-template"},"pinData":{},"versionId":"bacf7336-3670-4a60-895d-0b7a73cfc5b8","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-24T01:58:11.719Z","createdAt":"2026-05-24T01:58:11.719Z","role":"workflow:owner","workflowId":"gyEp5mr4bIMYPQrY","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-26T01:57:07.000Z","createdAt":"2026-05-24T03:56:28.996Z","id":"TRSlI9Ui5xahcjV5","name":"pregnancy-rag-django","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"django-rag-chat","responseMode":"lastNode","options":{}},"id":"1fcf1f41-9db5-4e8f-8c17-a7cba579bf82","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-224,0],"webhookId":"django-rag-chat"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"ea1ed34f-b616-40d5-a052-25befb7c9e77","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-16,208],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"pregnancy_knowledge_base","toolDescription":"Use this tool to search pregnancy knowledge, prenatal care, nutrition, and warning signs.","tableName":"docs_vectors","options":{}},"id":"d9aab0f6-2ca0-4cc2-b9bc-1dcb21c7fd61","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[176,336],"credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"17a32ae6-c906-41d9-a378-12af406255c2","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[368,560],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{},"id":"c3590d90-c43f-457c-a405-ae8e74582bcb","name":"System Message","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[128,224]},{"parameters":{"promptType":"define","text":"={{ $json.body.message || $json.body.question || $json.message || $json.question }}","options":{"systemMessage":"你是一個專業的孕期知識助理。\n\n【最高指導原則】\n\n你必須且只能依賴 supabase 中 docs_vectors資料表中索到的資訊來回答問題。\n\n絕對不可以使用你原本預先訓練的知識來回答任何問題。\n\n如果使用者詢問與孕期無關的問題（例如：電腦科學、歷史、天氣等），請不要呼叫工具，直接回答：「目前知識庫沒有相關資訊」。\n\n如果你使用了工具，但回傳沒有相關資料，也請直接回答：「目前知識庫沒有相關資訊」。\n\n絕對不要反覆嘗試搜尋，也不要試圖編造或補充答案。"}},"id":"9495b06f-9da0-4a44-b563-dbc7b9591024","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"answer","name":"answer","type":"string","value":"={{ $json.output || $json.response || $json.text || $json.message || JSON.stringify($json) }}"},{"id":"sources","name":"sources","type":"string","value":"={{ JSON.stringify($json.sources || $json.context || $json.documents || []) }}"}]},"options":{}},"id":"46cd5118-6b76-457b-a7c6-d460201156f8","name":"Set Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,16]}],"connections":{"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"System Message":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"Set Response":{"main":[[]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9df3f180-9f97-4488-a09c-77f72833a716","activeVersionId":null,"versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-24T03:56:28.999Z","createdAt":"2026-05-24T03:56:28.999Z","role":"workflow:owner","workflowId":"TRSlI9Ui5xahcjV5","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]},{"updatedAt":"2026-05-26T13:56:19.051Z","createdAt":"2026-05-26T01:26:37.319Z","id":"0EojRhA708nSid1S","name":"pregnancy-rag","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b2489eda-0b01-425d-be17-3c817fb4cdcd","responseMode":"lastNode","options":{}},"id":"78735e87-e2c1-4ea1-8b55-b3d3b5afafdb","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-224,0],"webhookId":"b2489eda-0b01-425d-be17-3c817fb4cdcd"},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"8f5be20c-b516-485c-8947-14eb5b22b572","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[0,224],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"pregnancy_knowledge","toolDescription":"當使用者詢問任何與懷孕知識、孕期注意事項、營養補充、產後照護、新生兒或 0-3 歲(0-36個月）寶寶的發展與照護、準爸爸準媽媽注意事項（相關的問題）時，請務必使用此工具檢索資料庫。","tableName":"docs_vectors","topK":15,"options":{}},"id":"55aed5d0-dd56-4f93-90d9-1a744cff7d3a","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[256,224],"credentials":{"supabaseApi":{"id":"2RVxgwYwjDcsKYes","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"c948e636-44b1-48c3-8244-adb333296111","name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[336,432],"credentials":{"openAiApi":{"id":"KkuxrYviRZnR4vKl","name":"OpenAi account 2"}}},{"parameters":{},"id":"4241b04e-a42f-4148-8829-1e1fe4d46c29","name":"System Message","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[128,224]},{"parameters":{"promptType":"define","text":"={{ $json.body.message || $json.body.question || $json.message || $json.question }}","options":{"systemMessage":"你是一個專業的孕產與育兒知識助理。\n當使用者詢問任何與懷孕知識、孕期注意事項、營養補充、產後照護、新生兒或 0-3 歲(0-36個月）寶寶的發展與照護、準爸爸準媽媽注意事項（相關的問題）時，需先利用 pregnancy_knowledge 工具檢索資訊，如果呼叫工具後沒有相關資料，請嘗試用不同的關鍵字（例如將「孕期蕁麻疹」拆分為「懷孕 皮膚癢」）再搜尋一次。\n如果使用者的問題不在與懷孕知識、孕期注意事項、營養補充、產後照護、新生兒或 0-3 歲(0-36個月）寶寶的發展與照護、準爸爸準媽媽注意事項（相關的問題）的範圍內，才回答：「目前知識庫沒有相關資訊」。"}},"id":"b4d55875-4d77-4f90-8f3a-c59a707f36fc","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[56,0]},{"parameters":{"assignments":{"assignments":[{"id":"answer","name":"answer","type":"string","value":"={{ $json.output || $json.response || $json.text || $json.message || JSON.stringify($json) }}"},{"id":"sources","name":"sources","type":"string","value":"={{ JSON.stringify($json.sources || $json.context || $json.documents || []) }}"}]},"options":{}},"id":"5847a516-f8fa-4505-af89-ce30d4acb289","name":"Set Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,0]}],"connections":{"OpenAI Embeddings":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"System Message":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Set Response","type":"main","index":0}]]},"Set Response":{"main":[[]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"92e14bd7-a60b-47a5-b4c8-6d0aea417a13","activeVersionId":"92e14bd7-a60b-47a5-b4c8-6d0aea417a13","versionCounter":115,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-26T01:26:37.332Z","createdAt":"2026-05-26T01:26:37.332Z","role":"workflow:owner","workflowId":"0EojRhA708nSid1S","projectId":"b69QI3ZAHiP5USHI","project":{"updatedAt":"2026-03-12T01:21:27.883Z","createdAt":"2026-03-12T01:20:13.891Z","id":"b69QI3ZAHiP5USHI","name":"Yang Kathy <11056018@ntub.edu.tw>","type":"personal","icon":null,"description":null,"creatorId":"0e1e1048-c71c-4210-bede-a7c072594fad"}}]}]